<p style="color: green"><%= notice %></p>
<% content_for :title, "Comments" %>
<h1>Comments</h1>
<div id="comments">
  <% if !@comments.present? %>
    <h3>No comments here...</h3>
  <% end %>
  <% @comments.each do |comment| %>
    <%= render comment %>
  <% end %>
</div>
<%= link_to "New comment", new_link_comment_path %>
<%= link_to "Back to Link", @comments.first.link %>