<% content_for :title, "New comment" %>
<div class="page">
  <header class="page-header">
    <h1 class="page-title">New Comment</h1>
  </header>
  <div class="card card--form">
    <%= render "form", comment: @comment, link: @link %>
  </div>
  <div class="page-footer">
    <%= link_to "â† Back to comments", link_comments_path(@link), class: "btn btn--ghost" %>
  </div>
</div>
