<% content_for :title, "Editing link" %>

<div class="page">
  <header class="page-header">
    <h1 class="page-title">Editing link</h1>
    <%= link_to "â† Back to links", links_path, class: "btn btn--ghost" %>
  </header>

  <div class="card">
    <%= render "form", link: @link %>
  </div>

  <div class="page-footer">
    <%= link_to "Show this link", @link, class: "btn btn--ghost" %>
  </div>
</div>
